// Place all the styles related to the keys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.key-listing {
  .key {
    margin-bottom: 1.618rem;
    .heading {
      font-weight: bold;
    }
    .name {
      font-weight: bold;
      font-size: 1.381rem;      
    }
    .code {
      font-family: 'Ubuntu Mono';
    }
  }
  
}
